.git
.github
.llm
__pycache__
*.py[cod]
*.log
*.gz
*.egg-info
.venv
.env
.env.*
node_modules
ops/grafana/provisioning/dashboards/json/*.json
ops/prometheus/*.yml
.tests_cache
.coverage
pytest.ini
**/tests/**
